@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <form method="post">
        <label>Max Budget</label>
        <input asp-for="MaxBudget" /><br /><br />
        <div class="text-center">
            <div class="col-md-3">
                @*<table style="float: left;">
                    <thead class="thead thead-dark">
                    <tr>
                    <th>Pos</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                    int counter = 1;
                    }
                    @foreach (var obj in Model.Drivers)
                    {
                    <tr>
                    <td>
                    @counter
                    </td>
                    </tr>
                    {
                    counter++;
                    }
                    }
                    </tbody>
                    </table>*@
                <table class="table table-light table-striped table-hover">
                    <thead>
                        <tr>
                            @*<th>Pos</th>*@
                            <th>Name</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody id="sortable">
                        @* @{
                            int counter = 0;
                            }*@
                        @foreach (var obj in Model.Drivers)
                        {
                            @*{
                                counter++;
                                }*@
                            <tr class="list-item" id="@obj.id">
                                @*<td class="pos">@counter</td>*@
                                <td width="50%">
                                    @obj.display_name
                                    <input type="hidden" name="ids" value="@obj.id">
                                </td>
                                <td width="20%">@obj.team_abbreviation</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <input class="text-left" type="submit" value="Submit" />
        <br />
        @if (Model.BestTeams != null && Model.BestTeams.Any())
        {
            <br />
            <div class="col-md-10">
                <table class="d-lg-table table table-light table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="5">Drivers</th>
                            <th>Constructor</th>
                            <th>Points</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model.BestTeams)
                        {
                            <tr>
                                @foreach (var driver in team.Drivers.Where(a => !a.ApiModel.is_constructor))
                                {
                                    <td width="20%">
                                        @{string txt = $"{driver.ApiModel.last_name}[{driver.Points}]";}
                                        <text>@txt</text>
                                        @if(driver.IsTurboed)
                                        {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z" />
                                        </svg>
                                        }
                                        <text>&nbsp;</text>
                                    </td>
                                }
                                <td width="20%">
                                    @team.Constructor.ApiModel.team_abbreviation [@team.Constructor.Points]
                                </td>
                                <td width="20%">
                                    @team.Points
                                </td>
                                <td width="20%">
                                    @team.Price.ToString("F1")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </form>
</body>

@section Scripts{
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function () {
        var fixHelperModified = function (e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function (index) {
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        };

        $("#sortable").sortable({
            helper: fixHelperModified,
            cancel: ".ui-state-disabled",
            items: "tr:not(.ui-state-disabled)"
        }).disableSelection();

        $(".pos").addClass("ui-state-disabled");

        //$('#sortable').sortable();
    });
</script>
}
